In [1]:
import pandas as pd

In [2]:
df = pd.read_table("biden_speech.rtf")

In [3]:
df

                  {\rtf1\ansi\ansicpg1252\cocoartf2577
0    \cocoatextscaling0\cocoaplatform0{\fonttbl\f0\...
1    {\colortbl;\red255\green255\blue255;\red0\gree...
2             {\*\expandedcolortbl;;\cssrgb\c0\c0\c0;}
3    \paperw11900\paperh16840\margl1440\margr1440\v...
4                                           \deftab720
..                                                 ...
210                               Sustained by faith.\
211                             Driven by conviction.\
212  And, devoted to one another and to this countr...
213  May God bless America and may God protect our ...
214                               Thank you, America.}

[215 rows x 1 columns]

In [4]:
df1 = df.drop(df.index[0:8])

In [5]:
df1.head()

                 {\rtf1\ansi\ansicpg1252\cocoartf2577
8                          This is America\'92s day.\
9                        This is democracy\'92s day.\
10                        A day of history and hope.\
11                           Of renewal and resolve.\
12  Through a crucible for the ages America has be...

In [6]:
df1.columns = ['text']

In [7]:
df1.head()

                                                 text
8                          This is America\'92s day.\
9                        This is democracy\'92s day.\
10                        A day of history and hope.\
11                           Of renewal and resolve.\
12  Through a crucible for the ages America has be...

In [15]:
df1['text'] = df1['text'].str.replace("\\"," ")

In [16]:
df1

                                                  text
8                           This is America '92s day.
9                         This is democracy '92s day.
10                         A day of history and hope.
11                            Of renewal and resolve.
12   Through a crucible for the ages America has be...
..                                                 ...
210                               Sustained by faith.
211                             Driven by conviction.
212  And, devoted to one another and to this countr...
213  May God bless America and may God protect our ...
214                               Thank you, America.}

[207 rows x 1 columns]

In [17]:
#conda install -c conda-forge textblob

In [29]:
from textblob import TextBlob

Just testing how TextBlob works. Use it in a function that you define.

In [19]:
for i in df1:
    for a in i:
        blob = TextBlob(a)
        print(blob)

t
e
x
t

In [20]:
blob

TextBlob("t")

## Sentiment calculation

In [21]:
def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

In [23]:
df1['sentiment'] = df1['text'].apply(sentiment_calc)

In [24]:
print(df1)

                                                  text   sentiment
8                           This is America '92s day.   (0.0, 0.0)
9                         This is democracy '92s day.   (0.0, 0.0)
10                         A day of history and hope.   (0.0, 0.0)
11                            Of renewal and resolve.   (0.0, 0.0)
12   Through a crucible for the ages America has be...  (0.0, 0.0)
..                                                 ...         ...
210                               Sustained by faith.   (0.0, 0.0)
211                             Driven by conviction.   (0.0, 0.0)
212  And, devoted to one another and to this countr...  (0.5, 0.6)
213  May God bless America and may God protect our ...  (0.0, 0.0)
214                               Thank you, America.}  (0.0, 0.0)

[207 rows x 2 columns]

In [25]:
def polarity_calc(text):
    try:
        return TextBlob(text).sentiment.polarity
    except:
        return None
    
    
def subjectivity_calc(text):
    try:
        return TextBlob(text).sentiment.subjectivity
    except:
        return None

In [26]:
df1['polarity'] = df1['text'].apply(polarity_calc)
df1['subjectivity'] = df1['text'].apply(subjectivity_calc)

In [27]:
Biden_sent = df1.sort_values(by='polarity', ascending=False)

In [28]:
Biden_sent

,text,sentiment,polarity,subjectivity
184,'93The work and prayers uc0 u8232 of centurie...,"(1.0, 0.3)",1.00,0.300
186,If we do this then when our days are through o...,"(1.0, 0.3)",1.00,0.300
149,I promise you this: as the Bible says weeping ...,"(0.8, 0.2)",0.80,0.200
73,"Through the Civil War, the Great Depression, W...","(0.8, 0.75)",0.80,0.750
101,Here we stand looking out to the great Mall wh...,"(0.8, 0.75)",0.80,0.750
...,...,...,...,...
55,Uniting to fight the common foes we face:,"(-0.3, 0.5)",-0.30,0.500
129,Recent weeks and months have taught us a painf...,"(-0.35, 0.575)",-0.35,0.575
188,They healed a broken land. uc0 u8232 My fellow...,"(-0.4, 0.4)",-0.40,0.400
86,"We have never, ever, ever failed in America wh...","(-0.5, 0.3)",-0.50,0.300
56,"Anger, resentment, hatred.","(-0.7, 0.2)",-0.70,0.200